footer {
    text-align: center;
    padding: 0.6rem;
    background-color: #171716;
    color: #fff;
  }
  
  footer .social-links a {
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
  }
  
  footer .social-links a:hover {
    text-decoration: underline;
  }
  