.purchase-coins {
    padding: 2rem;
  }
  
  .purchase-coins h2 {
    margin-top: 0;
    color:#c36b30;
  }
  
  .purchase-coins select {
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
    margin-right: 20px;
  }
  
  .purchase-coins button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #c36b30;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .purchase-coins button:hover {
    background-color: #ae6e44;
  }
  